.div
{
    margin-top: 10px;
    width: 100%;
    display: block;
    position: relative;
    box-shadow: 0 0 5px 0 gray;
}
.Layout1
{
    height: 500px;
}
.Layout2
{
    height: 500px;
}
.Layout3
{
    height: 500px;
}
.close
{
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-image: url(../Resources/icons8-close-window-48.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
}
.div:hover .close
{
    display: block;
}
/* CLASS Tools */


.closeTools
{
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-image: url(../Resources/close.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.textarea
{
    height: auto;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    float: left;
    resize: none;
    font-size: 25px;
}
.camera
{
    position: relative;
    height: auto;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    float: left;
    box-shadow: 0 0 5px 0 gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*#para
{
    clear: both;
}*/
.pic
{
    position: relative;
    height: auto;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    float: left;
    box-shadow: 0 0 5px 0 gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputlink
{
    border-style: none;
    border-radius: 10px;
    outline: none;
    height: 30px;
    width: auto;
    box-shadow: 0 0 3px 0 black inset;
}
.imglink
{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.size1
{
    width: 100%;
    height: 33%;
}
.size2
{
    width: 100%;
    height: 66%;
}
.size3
{
    width: 100%;
    height: 100%;
}

