#body
{
    margin: 0;
    padding: 0;
}
#Origin
{
    box-sizing: border-box;
    padding: 0.1%;
}
a
{
    text-decoration: none;
}
#nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-top: 0;
    margin-top: 0;
    position: relative;
    
}
#green 
{
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 39%;
    background-color: #7FFFD4;
    z-index: -1;
}
#logo
{
    box-sizing: border-box;
    width: 250px;
    box-sizing: border-box;
}
#logo img
{
    box-sizing: border-box;
    width: 250px;
    height: 100%;
}

#list
{
    width: 200px;
    height: 100%;
}
#list *
{
    box-sizing: border-box;
    margin-top: 0;
}
#list ul
{
    width:100%;
    list-style: none;
    height: 100%;
}
#list li
{
    float: left;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 5px;
    align-items: center;
}
#ul #Test
{
    display: none;
}
#list img
{
    box-sizing: border-box;
    width: 30px;
    height: 30px;

}
.iconnav
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
#list a
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 80px;
    height: 35px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    font-size: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
#Test a
{
    color: black;
}
#ul button
{
    box-sizing: border-box;
    width: 80px;
    height: 35px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    font-size: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

#ul #prfle
{
    position: relative;
}
#prfle img
{
    width: 35px;
    height: 35px;
    display: none;
}
#prfle .tooltiptext 
{
    display: none;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 70%;
    left: 50%;
    margin-left: -60px;
}
#prfle:hover .tooltiptext
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
#prfle .tooltiptext::after 
{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;  
}
.tooltiptext div
{
    text-decoration: none;
    color: aqua;
    border-style: none;
    outline: none;
    padding-top: 5px;
    padding-bottom: 5px;
}
.tooltiptext a
{
    text-decoration: none;
    color: aqua;
    border-style: none;
    outline: none;
    padding-top: 5px;
    padding-bottom: 5px;
}
.tooltiptext button
{
    text-decoration: none;
    color: aqua;
    border-style: none;
    outline: none;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: transparent;
}
.tooltiptext div:hover
{
    color: lightpink;
}
.tooltiptext a:hover
{
    color: lightpink;
}
.tooltiptext button:hover
{
    color: lightpink;
}
 
/* Line */
#Line
{
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #7FFFD4;
}
/* Show Post */

#page
{
    box-sizing: border-box;
    width: 100%;
    height: auto;
}
#fake
{
    box-sizing: border-box;
    width: 20%;
    height: 100%;
    float: left;
    display: none;
}
#showpost
{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    float: left;
    
}
#header
{
    width: 90%;
    height: auto;
    box-sizing: border-box;
}
#header h1
{
    font-size: 40px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}


/*               profile            */




#profile
{
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
#imgProfile
{
    width: auto;
    height: 80%;
    border-radius: 50px;
}
#infProfile
{
    box-sizing: border-box;
    width: auto;
    height: 100%;
    margin-left: 10px;
}
#UB
{
    box-sizing: border-box;
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5px;
}
#UB a
{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 20px;
}
#UB button
{
    box-sizing: border-box;
    width: 70px;
    height: 35px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    font-size: 15px;
    color: whitesmoke;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: green;
}
#UB button:hover
{
    background-color: transparent;
    color: green;
    border-color: green;
}



/*      Main Img       */


#MainImg
{
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

/*      Tags           */

#Tags
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 50px;
    align-items: center;
}
#Tags a
{
    text-decoration: none;
    color: black;
    background-color: whitesmoke;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    width: auto;
    height: auto;
    padding: 5px;
    border-radius: 8px;
    margin-right: 5px;
}



/*     Like          */


#Like
{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: solid;
    border-color: black;
    border-width: 1px;
}
#Like img
{
    width: 30px;
    height: 30px;
}
#Like div
{
    font-size: 20px;
}


/*     Comments             */


#Comments
{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
    visibility: hidden;
}
#FakeComment
{
    width: 10%;
    height: 100vh;
    box-sizing: border-box;
    float: left;
}
#ShowComents
{
    width: 80%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: -0px 0 5px 0 gray;
    background-color: whitesmoke;
    float: right;
    box-sizing: border-box;
}
.Card
{
    width: 100%;
    height: auto;
    margin-top: 7px;
}
.Info
{
    display:  flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-left: 5px;
}
.Info img
{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    box-shadow: 0 0 1px 0 black;
}
.Info a
{
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin-left: 5px;
}
.TextComment
{
    width: 100%;
    box-sizing: border-box;
    height: auto;
    box-shadow: 0 0 3px 0 teal inset;
    margin-top: 5px;
    padding: 5px;
    color:gray;
    font-size: 13px;
    line-height: 1.5;
    font-weight: 500;
}

#WriteComment
{
    width: 100%;
    height: auto;
}
#WComment
{
    margin-top: 5px;
    width: 100%;
    height: 350px;
    resize: none;
}
#WriteComment button
{
    margin-top: 5px;
    padding: 7px 15px 7px 15px;
    background-color: green;
    color: white;
    font-size: 15px;
    border-style: none;
    border-radius: 7px;
}
#WriteComment button:hover
{
    color: green;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: green;
}
#WriteComment button:active
{
    outline: none;
    border-style: none;
}




/*      Responsiv           */





@media only screen and (min-width: 720px) {
    /* For tablets: */
    #fake
    {
        display: block;
        width: 10%;
    }
    #showpost
    {
        width: 80%;
    }
    #header h1
    {
        font-size: 50px;
    }
    #ShowComents
    {
        width: 50%;
    }
    #FakeComment
    {
        width: 50%;
    }
    #list
    {
        width: 250px;
    }
}

@media only screen and (min-width: 950px) {
    /* For desktop: */
    #fake
    {
        display: block;
        width: 20%;
    }
    #showpost
    {
        width: 60%;
    }
    #header h1
    {
        font-size: 60px;
    }
    #list
    {
        width: 300px;
    }
    #list #Test
    {
        display: flex;
    }
    #ShowComents
    {
        width: 30%;
    }
    #FakeComment
    {
        width: 70%;
    }
}
